/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
h2, h3, h4 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
body {
  font-size: 16px;
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}

label,
.label{
  font-weight: 600;
  color:#000;
  padding: 5px 0px;
  display: block;
  font-size: .85rem;
}
code {
  background:#eaeaea;
  border: 1px solid #999;
  padding: 10px;
  margin: 5px 0px;
  color: #000;
  clear: both;
  display: inline-block;
}

button,
.button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color: #FFF;
  background: #2d67b0;
}

button:hover {
  background-color: #4e8ddc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

em{
  display: block;
  font-size: .8rem;
  padding: 5px 0px;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
